@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family:vazir;
    src: url("./assets/fonts/Vazir-Bold.ttf");
}

@font-face {
  font-family: yekan;
  src: url(../src/assets/fonts/Yekan.ttf);
}
@font-face {
  font-family: vaziri;
  src: url(../src/assets/fonts/Vazir-Bold.ttf);
}
@font-face {
  font-family: iranSans;
  src: url(../src/assets/fonts/IRANSans.ttf);
}
@theme{
    --font-vazir:"vazir",vazir;
    --breakpoint-biggerxl:89rem;
    --shadow-box:0px -10px 28px 1px rgba(60, 139, 133, 0.20);
}
.rtl{
    direction: rtl;
    }
